<div>

	<h2>
		<span translate="laws.title"></span>
	</h2>
</div>
<div>
	<button class="btn btn-primary" onclick="showChart()">
		<span class="glyphicon glyphicon-stats"></span> <span
			translate="laws.button.showChart"></span>
	</button>
</div>
<br>
<div id="chart"></div>
<div class="modal fade" id="saveLawModal" tabindex="-1" role="dialog"
	aria-labelledby="myLawLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="form" role="form" novalidate
				class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
				ng-submit="create()">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="clear()">&times;</button>
					<h4 class="modal-title" id="myLawLabel">
						<span translate="laws.modal.title"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>ID</label> <input type="text" class="form-control"
							name="id" ng-model="law.id" readonly>
					</div>

					<div class="form-group">
						<label><span translate="laws.modal.fieldtitle"></span></label> <input
							type="text" class="form-control" name="test" ng-model="law.title"
							ng-minlength=1 ng-maxlength=50 required>
					</div>

					<div class="form-group">
						<label><span translate="laws.modal.field.region"></span></label> <input
							type="text" class="form-control" name="test"
							ng-model="law.region" ng-minlength=1 ng-maxlength=50 required>
					</div>

					<div class="form-group">
						<label><span translate="laws.modal.field.date"></span></label> <input
							type="date" class="form-control" name="test"
							ng-model="law.ratificationDate" required>
					</div>

					<div class="form-group">
						<label><span translate="laws.modal.field.number"></span></label> <input
							type="number" class="form-control" name="test"
							ng-model="law.numSections" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span> <span
							translate="laws.modal.button.cancel"></span>
					</button>
					<button type="submit" ng-disabled="form.$invalid"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span> <span
							translate="laws.modal.button.save"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th><span translate="laws.table.title"></span></th>
				<th><span translate="laws.table.region"></span></th>
				<th><span translate="laws.table.date"></span></th>
				<th><span translate="laws.table.custom"></span></th>
				<th><span translate="laws.table.number"></span></th>
				<th><button class="btn btn-primary" data-toggle="modal"
						data-target="#saveLawModal" ng-click="clear()">
						<span class="glyphicon glyphicon-plus"></span> <span
							translate="laws.button.new"></span>
					</button></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="law in laws">
				<td>{{law.id}}</td>
				<td><a href={{law.url}} target="_blank">{{law.title}}</a></td>
				<td>{{law.region}}</td>
				<td>{{law.ratificationDate}}</td>
				<td>{{law.customFlag}}</td>
				<td>{{law.numSections}}</td>
				<td>
					<button type="submit" ng-click="update(law.id)" class="btn">
						<span class="glyphicon glyphicon-pencil"></span> <span
							translate="laws.button.edit"></span>
					</button>
					<button type="submit" ng-click="delete(law.id)"
						class="btn btn-danger">
						<span class="glyphicon glyphicon-remove-circle"></span> <span
							translate="laws.button.delete"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
