<div>

	<h2>Searchs</h2>

	<div class="modal fade" id="saveSearchModal" tabindex="-1"
		role="dialog" aria-labelledby="mySearchLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="form" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
					ng-submit="create()">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="mySearchLabel">Create or edit a
							Search</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label> <input type="text" class="form-control"
								name="id" ng-model="search.id" readonly>
						</div>

						<div class="form-group">
							<label>Search Term</label> <input type="search"
								class="form-control" name="test" ng-model="search.searchTerm"
								ng-minlength=1 ng-maxlength=50 required>
						</div>

						<div class="form-group">
							<label>Data Provider</label> <input type="text"
								class="form-control" name="test" ng-model="search.dataProvider"
								ng-minlength=1 ng-maxlength=50 required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel
						</button>
						<button type="submit" ng-disabled="form.$invalid"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span> Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Search Term</th>
					<th>Data Provider</th>
					<th>Creation Date</th>
					<th>Documents found</th>
					<th><button class="btn btn-primary" data-toggle="modal"
							data-target="#saveSearchModal" ng-click="clear()">
							<span class="glyphicon glyphicon-plus"></span> Create a new
							Search
						</button></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="search in searchs">
					<td>{{search.id}}</td>
					<td>{{search.searchTerm}}</td>
					<td>{{search.dataProvider}}</td>
					<td>{{search.creationDate}}</td>
					<td>{{search.numFound}}</td>
					<td>
						<div id="Start/Pause" ng-switch="search.running">
							<div ng-switch-when="true">
								<button type="submit" ng-click="startpause(search.id)"
									class="btn btn-stop">
									<span class="glyphicon glyphicon-pause"> Pause</span>
								</button>
							</div>

							<div ng-switch-when="false">
								<button type="submit" ng-click="startpause(search.id)"
									class="btn btn-primary">
									<span class="glyphicon glyphicon-play"> Start</span>
								</button>
							</div>

							<button type="submit" ng-click="delete(search.id)"
								class="btn btn-danger">
								<span class="glyphicon glyphicon-remove-circle"></span> Delete
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div align="right">
		<a class="btn btn-lg btn-warning" href="#/law"><span class="glyphicon glyphicon-eye-open"></span> View results</a>
	</div>
</div>
