<div>

	<h2>
		<span translate="projects.title">My projects</span>
	</h2>
	<br>
	<div>
		<span translate="projects.description"></span>
	</div>
	<br>
	<div class="modal fade" id="saveViewModal" tabindex="-1" role="dialog"
		aria-labelledby="myViewLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="form" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
					ng-submit="create()">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myViewLabel">
							<span translate="projects.modal.title"></span>
						</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label> <input type="text" class="form-control"
								name="id" ng-model="view.id" readonly>
						</div>

						<div class="form-group">
							<label><span translate="projects.modal.field.title"></span></label>
							<input type="text" class="form-control" name="test"
								ng-model="view.title" ng-minlength=1 ng-maxlength=50 required>
						</div>

						<div class="form-group">
							<label><span translate="projects.modal.field.description"></span></label>
							<input type="text" class="form-control" name="test"
								ng-model="view.description" ng-minlength=1 ng-maxlength=50
								required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span> <span
								translate="projects.modal.button.cancel"></span>
						</button>
						<button type="submit" ng-disabled="form.$invalid"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span> <span
								translate="projects.modal.button.save"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th><span translate="projects.table.title"></span></th>
					<th><span translate="projects.table.description"></span></th>
					<th><span translate="projects.table.date"></span></th>
					<th><div align="right">
							<a class="btn btn-warning" href="#/search"><span
								class="glyphicon glyphicon-search"></span> <span
								translate="projects.button.search"></span></a>
							</button>
							<button class="btn btn-primary" data-toggle="modal"
								data-target="#saveViewModal" ng-click="clear()">
								<span class="glyphicon glyphicon-plus"></span> <span
									translate="projects.button.new"></span>
							</button>
						</div></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="view in views">
					<td>{{view.id}}</td>
					<td>{{view.title}}</td>
					<td>{{view.description}}</td>
					<td>{{view.editDate}}</td>
					<td><div align="right">
							<button type="submit" ng-click="update(view.id)" class="btn">
								<span class="glyphicon glyphicon-pencil"></span> <span
									translate="projects.button.edit"></span>
							</button>
							<button type="submit" ng-click="update(view.id)"
								class="btn btn-success">
								<span class="glyphicon glyphicon-star"></span> <span
									translate="projects.button.mark"></span>
							</button>
							<button type="submit" ng-click="delete(view.id)"
								class="btn btn-danger">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									translate="projects.button.delete"></span>
							</button>
						</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div align="right">
	
							<a class="btn btn-lg btn-warning" href="#/law"><span class="glyphicon glyphicon-eye-open"></span><span translate="projects.button.view"></span></a>
	</div>
</div>
